{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login Page{% endblock %}

{% block content %}
<div class="site-wrapper" id="top">
	<main class="inner-page-sec-padding-bottom">
		<div class="container">
            <h3 style="text-align: center;">Login</h3>

            <div class="row mx-5">
                <div class="col-4">
                    <form method="post" action="{% url 'users:login' %}">
                        {% csrf_token %}
                        <p>
                            {{ login_form | crispy }}
                        </p>
                        <button class="btn btn--primary w-100">Log in</button>
                        <span class="ms-3 mb-2">No account ? Then,
                            <a href="{% url 'users:register' %}"
                               style="background-color: rgb(171, 168, 168);"> get registered</a></span>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>



{% endblock %}
