{% extends 'base.html' %}

{% block title %}Profile Page{% endblock %}

{% block content %}

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{ user.profile_picture.url }}" alt="profile picture"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{user.first_name}} {{user.last_name}}</h5>
            <p class="text-muted mb-1">Full Stack Python Developer</p>
            <div class="d-flex justify-content-center mb-2">
              <a class="btn btn-outlined" href="{% url 'users:profile_edit' %}">Edit Profile</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><i class="bi bi-person-fill mx-1"></i>Username</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.username}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><i class="bi bi-envelope-at-fill mx-1"></i>Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><i class="bi bi-person-fill mx-1"></i>First Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.first_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><i class="bi bi-person-fill mx-1"></i>Last Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.last_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><i class="bi bi-telephone-fill mx-1"></i>Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.phone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><i class="bi bi-house-fill mx-1"></i>Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.address}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><i class="bi bi-calendar-date-fill mx-1"></i>Joined</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.date_joined | date:'F d, Y' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}