{% extends 'base.html' %}

{% block title %}Blogs{% endblock %}

{% block content %}
{% load static %}
<div class="site-wrapper" id="top">
    <section class="breadcrumb-section">
      <h2 class="sr-only">Site Breadcrumb</h2>
    </section>
    <section class="inner-page-sec-padding-bottom space-db--30">
      <div class="container">
        <div class="row space-db-lg--60 space-db--30">
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="https://storage.kun.uz/source/10/U7sH-VQsKAxqCVczoZou13pl8mBlDwkJ.jpg" alt="Ушбу ҳокимлар йил давомида
                аукционга умуман ер чиқармагани қайд этилган.">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">Абдулла Ариповга 8 та туман ҳокимининг лавозимига лойиқлигини ҳал қилиш топширилди</a></h3>
                <p class="post-meta"><span>13/08/2017 </span> | <a href="#">Hastech</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>
                    Бош вазирга Андижон вилоятининг Балиқчи ва Жалалқудуқ,
                    Тошкент шаҳрининг Бектемир, Миробод, Олмазор, Чилонзор, Юнусобод ва Яккасарой туманлари
                    ҳокимларининг лавозимига лойиқлигини ҳал қилиш топширилди.
                    Бу ҳақда президент Шавкат Мирзиёев раислигида 2024 йилда макроиқтисодий барқарорлик ва
                    иқтисодий ривожланишни таъминлаш бўйича устувор вазифалар юзасидан видеоселектор йиғилишда маълум қилинган.
                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="https://storage.kun.uz/source/10/Y5WMRe17JYOihmWRKRzUwUQc4WB0rKM5.jpg" alt=" Олимжон Тўйчиев ">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">Турин политехника университетига янги ректор тайинланди</a></h3>
                <p class="post-meta"><span>28/10/2017 </span> | <a href="#">Hastech</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>
                    Олимжон Алижонович Тўйчиев Турин политехника университети ректори лавозимига тайинланди.
                    Бу ҳақда Олий таълим, фан ва инновациялар вазирлиги матбуот хизмати хабар берди.
                    Шу муносабат билан вазирлик ҳузуридаги Инновацион ривожланиш агентлиги директори лавозимидан озод қилинди.
                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="https://storage.kun.uz/source/10/plqT0VV6NUTosNy7YH4yFc1n0cBHzOly.jpg"
                     alt="Ўзбекистон фуқаролари визасиз бориши мумкин бўлган давлатлар сони яна биттага кўпайди.">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">БАА Ўзбекистон фуқаролари учун визасиз режим жорий қилади</a></h3>
                <p class="post-meta"><span>30/10/2017 </span> | <a href="#">Hastech</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>2024 йил 16 январ куни БАА Ташқи ишлар вазирлигида Ўзбекистон Республикаси ва Бирлашган
                    Араб Амирликлари ҳукуматлари ўртасида кириш виза талабларидан ўзаро озод этиш тўғрисидаги
                    ҳамкорлик протоколи имзоланди. Бу ҳақда ЎзА хабар бермоқда.
                    Ҳужжатга кўра, Ўзбекистон фуқаролари 30 кундан ошмаган муддатда
                    БАА ҳудудида бўлиши даврида виза талабларидан озод этилади.</p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="https://storage.kun.uz/source/10/p_L6Y5PMfYPNFPe5NCJOKJITLQXXij2L.jpg" alt=" Бош прокурор ўринбосари ҳисобланади">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">Бош прокурорда янги ўринбосар пайдо бўлди</a></h3>
                <p class="post-meta"><span>22/01/2017 </span> | <a href="#">Hastech</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>
                    Ўзбекистон Республикаси Президентининг тегишли Фармонига асосан адлия катта
                    маслаҳатчиси Шамсиддин Шарафидинович Соҳибназаров Бош прокурор ўринбосари - Иқтисодий
                    жиноятларга қарши курашиш департаменти бошлиғи лавозимига тайинланди.
                    Бу ҳақда Бош прокуратура матбуот хизмати хабар бермоқда.
                    Шамсиддин Соҳибназаров 2023 йил октябрида Ўзбекистон Бош прокуратураси ҳузуридаги Иқтисодий
                    жиноятларга қарши курашиш департаменти бошлиғи лавозимига тайинланганди.
                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="https://storage.kun.uz/source/10/InISIPTHLitfKnjQbe6S0AerilDK5C0W.jpg" alt="Ил-22М ҳаво қўмондонлик пункти шикастланган">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">Украинлар илк бор Россиянинг А-50 разведкачи самолётини уриб туширганини маълум қилди</a></h3>
                <p class="post-meta"><span>30/10/2017 </span> | <a href="#">Hastech</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>
                    14 январ куни кечқурун украин нашрлари Украина ҚК ҳаво кучлари Азов денгизи устида Россиянинг
                    А-50 русумли разведкачи самолётини уриб тушириб, Ил-22М11 ҳаво қўмондонлик пунктига зарба бергани
                    ҳақида хабар тарқатди. Журналистлар украин қуролли кучларидаги манбаларига ҳавола беришган.
                    Hromadske телеканали бу маълумот Украина мудофаа вазирлиги Бош разведка бошқармаси томонидан
                    тасдиқланганини маълум қилган. Кейинроқ Украина ҚК бош қўмондони Азов денгизи узра Россияга тегишли
                    А-50 ҳамда Ил-22 ҳаво қўмондонлик пункти бўлган самолётлар уриб туширилганини маълум қилди.
                    У Ҳаво кучларига «Азов ҳудудидаги мукаммал режалаштирилган ва амалга оширилган амалиёт учун»
                    миннатдорчилик билдирди.
                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="https://storage.kun.uz/source/10/QHzc8Go_7kPGnzjdddmz5MY7rbOyhS_L.jpg" alt="Унда Ўзбекистон Қуролли Кучлари ҳам иштирок этиши кутилмоқда">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">2024 йилда Қозоғистонда Марказий Осиё давлатлари иштирокида ҳарбий машғулотлар ўтказилади</a></h3>
                <p class="post-meta"><span>30/10/2017 </span> | <a href="#">Hastech</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>Қозоғистонда Озарбойжон ва Марказий Осиё давлатлари: Қирғизистон, Тожикистон,
                    Ўзбекистон иштирокида жанговар тайёргарлик тадбирлари доирасида кенг кўламли ҳарбий
                    машғулотлар ўтказилади. Бу ҳақда Қозоғистон Мудофаа вазирлиги хабар берди.
                    «Бу йил мамлакатимиз ҳудудида бешта давлат иштирокида кенг кўламли ўқув машғулотлари
                    бўлиб ўтади ва улар юқори ташкилий савияда ўтказилиши керак. Қардош халқлар ўртасидаги
                    дўстона муносабатларни сақлаб қолиш биз учун ниҳоятда муҳим», деди Қозоғистон Мудофаа вазири Руслан Жаксиликов.
                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="https://storage.kun.uz/source/10/DHLhB05x5q_GJSHwVRs8fKiudFHP0Ajf.jpg" alt="Тайваннинг Хитойдан мустақил бўлиши ">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">Тайваннинг янги сайланган президенти АҚШ делегациясини қабул қилди</a></h3>
                <p class="post-meta"><span>30/10/2017 </span> | <a href="#">Hastech</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>Тайванда бўлиб ўтган президентлик сайловларидан сўнг Хитой ўзининг
                    бўлгинчи провинцияси деб ҳисоблаган ҳудуд янги сайланган президенти Лай Циндэ
                    Американинг «норасмий» делегацияни қабул қилиб, АҚШга қўллаб-қувватлов учун миннатдорчилик билдирди.
                    «АҚШнинг Тайван демократиясини кучли қўллаб-қувватлагани учун миннатдорман. Америкаликлар ташрифи
                    Тайван ва АҚШ ўртасидаги мустаҳкам ва барқарор ҳамкорликни тасдиқлайди», деди Лай 15 январ,
                    душанба куни Тайбэйда АҚШ делегацияси билан учрашувда.
                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="https://storage.kun.uz/source/10/N0UP3cDArIEkWplvpK2SMpffcpVwMm4s.jpg" alt="Швейцарияда Украинадаги вазиятни">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">Швейцария ва Украина глобал тинчлик саммитини ўтказади</a></h3>
                <p class="post-meta"><span>30/10/2017 </span> | <a href="#">Hastech</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>
                    Швейцария ва Украина глобал тинчлик саммитини ташкил қилишни режалаштирмоқда.
                    Бу ҳақда икки давлат президентлари Виола Амҳерд ва Володимир Зеленский 15 январ,
                    душанба куни Бернда маълум қилди. Томонлар яқин вақт ичида ушбу тадбирга тайёргарликни бошлаш ниятида.
                    Саммитнинг аниқ санаси ҳозирча маълум қилинмаган.
                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
            <div class="blog-card card-style-grid">
              <a href="blog-details.html" class="image d-block">
                <img src="https://storage.kun.uz/source/10/7P_ogBvkri0tnXR6epWBToZNLCHjoh29.jpg" alt="Россия ҳарбий секторига">
              </a>
              <div class="card-content">
                <h3 class="title"><a href="blog-details.html">Хитой давлат банклари АҚШ фармони туфайли Россия учун чекловларни кучайтиради</a></h3>
                <p class="post-meta"><span>30/10/2017 </span> | <a href="#">Hastech</a></p>
                <article>
                  <h2 class="sr-only">
                    Blog Article
                  </h2>
                  <p>
                    Хитойнинг давлат банклари АҚШ томонидан қабул қилинган иккиламчи санкциялар
                    тўғрисидаги фармон туфайли россиялик мижозларни молиялаштириш бўйича
                    чекловларни кучайтиради. Бу ҳақда Bloomberg ёзди.
                    Декабр ойида АҚШ президенти Жо Байден Россиядан санкцияга учраган шахслар билан
                    операцияларни амалга оширишга ёрдам берадиган ёки Россия ҳарбийларига маълум материаллар ва жиҳозларни
                    етказиб беришга ёрдам берувчи хорижий банкларга қарши чоралар кўриш ҳақидаги фармонни имзолаган эди.
                  </p>
                  <a href="blog-details.html" class="blog-link">Read More</a>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

{% endblock %}