<!DOCTYPE html>
{% load static %}

{% url "home_pages" as home_page %}
{% url 'books:list' as books_page %}
{% url 'users:profile' as profile_page %}
{% url 'users:profile_edit' as profile-edit-page %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sherzod Ergashov">
    <meta name="keywords" content="HTML, CSS, Bootstrap, Python, Django, JS">
    <title>{% block title %}Goodreads Clone{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<!--    Loyiha W disk oynasidagi yo'l-->
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/w-disk/plugins.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/w-disk/main.css' %}" />
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">

</head>
<body>
<div class="site-wrapper" id="top">
    <div class="site-header d-none d-lg-block">
        <div class="header-middle pt--10 pb--10">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 ">
                        <a href="/" class="site-brand">
                            <img src="https://d.gr-assets.com/misc/1454549184-1454549184_goodreads_misc.jpg" alt="goodreads image">
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <div class="header-phone ">
                            <div class="icon">
                                <i class="bi bi-headphones"></i>
                            </div>
                            <div class="text">
                                <p>Free Support 24/7</p>
                                <p class="font-weight-bold number">+998 93 320 45 01</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="main-navigation flex-lg-right">
                            <ul class="main-menu menu-right ">
                                <li class="menu-item has-children">
                                    <a class="{% if request.path == home_page %} active {% endif %}" aria-current="page" href="{{home_page}}">
                                        Home </a>
                                </li>
                                <!-- Shop -->
                                <li class="menu-item has-children mega-menu">
                                    <a href="javascript:void(0)">shop </a>
                                    <ul class="sub-menu four-column">
                                        <li class="cus-col-25">
                                            <h3 class="menu-title"><a href="javascript:void(0)">Shop Grid </a></h3>
                                            <ul class="mega-single-block">
                                                <li><a href="{{books_page}}">Fullwidth</a></li>
                                            </ul>
                                            <hr>
                                            <h3 class="menu-title"> <a href="javascript:void(0)">Shop List</a></h3>
                                            <ul class="mega-single-block">
                                                <li><a href="shop-list.html">Fullwidth</a></li>
                                            </ul>
                                            <hr>
                                            <h3 class="menu-title"> <a href="javascript:void(0)">Product Details 1</a></h3>
                                            <ul class="mega-single-block">
                                                <li><a href="product-details-affiliate.html">Product Details Affiliate</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Pages -->
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0)">Pages </a>
                                    <ul class="sub-menu">
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="compare.html">Compare</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="login-register.html">Login Register</a></li>
                                        <li><a href="my-account.html">My Account</a></li>
                                        <li><a href="order-complete.html">Order Complete</a></li>
                                        <li><a href="faq.html">Faq</a></li>
                                        <li><a href="contact-2.html">contact 02</a></li>
                                    </ul>
                                </li>
                                <!-- Blog -->
                                <li class="menu-item has-children mega-menu">
                                    <a href="javascript:void(0)">Blog </a>
                                    <ul class="sub-menu three-column">
                                        <li class="cus-col-33">
                                            <h3 class="menu-title"><a href="javascript:void(0)">Blog Grid</a></h3>
                                            <ul class="mega-single-block">
                                                <li><a href="blog.html">Full Widh (Default)</a></li>
                                            </ul>
                                        </li>
                                        <li class="cus-col-33">
                                            <h3 class="menu-title"><a href="javascript:void(0)">Blog Details</a>
                                            </h3>
                                            <ul class="mega-single-block">
                                                <li><a href="blog-details.html">Image Format (Default)</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom pb--10">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <nav class="category-nav">
                            <div>
                                <a href="javascript:void(0)"  class="category-trigger"><i class="bi bi-list"></i>Browse categories</a>
                                <ul class="category-menu">
                                    {% for types in book_type %}
                                        <li class="cat-item">
                                            <a href="/">{{types}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-lg-5">
                        <div class="header-search-block">


                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="main-navigation flex-lg-right">
                            <div class="cart-widget">
                                <div class="login-block">
                                    <div class="me-5">
                                        {% if request.user.is_authenticated %}
                                        <ul class="navbar-nav">
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle {% if request.path == profile_page %} active {% endif %}"
                                                   href="#" role="button" data-bs-toggle="dropdown"
                                                   aria-expanded="false">
                                                    {{ request.user.username }}
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="{{profile_page}}">Profile</a></li>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <li><a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        {% else %}
                                        <a class="btn btn-outline-wight" href="{% url 'users:login' %}">Login</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="cart-block bi bi-cart4">
                                    <div class="cart-total">
                                            <span class="text-number">
                                                1
                                            </span>
                                        <span class="text-item">
                                                Shopping Cart
                                            </span>
                                        <span class="price">
                                                £0.00
                                            </span>
                                    </div>
                                    <div class="cart-dropdown-block">
                                        <div class=" single-cart-block ">
                                            <div class="cart-product">
                                                <a href="product-details.html" class="image">
                                                    <img src="{% static 'image/products/cart-product-1.jpg' %}" alt="">
                                                </a>
                                                <div class="content">
                                                    <h3 class="title"><a href="product-details.html">Kodak PIXPRO
                                                        Astro Zoom AZ421 16 MP</a>
                                                    </h3>
                                                    <p class="price"><span class="qty">1 ×</span> £87.34</p>
                                                    <button class="cross-btn"><i class="fas fa-times"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" single-cart-block ">
                                            <div class="btn-block">
                                                <a href="cart.html" class="btn">View Cart <i
                                                        class="fas fa-chevron-right"></i></a>
                                                <a href="checkout.html" class="btn btn--primary">Check Out <i
                                                        class="fas fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-mobile-menu">
        <header class="mobile-header d-block d-lg-none pt--10 pb-md--10">
            <div class="container">
                <div class="row align-items-sm-end align-items-center">
                    <div class="col-md-4 col-7">
                        <a href="index.html" class="site-brand">
                            <img src="https://d.gr-assets.com/misc/1454549184-1454549184_goodreads_misc.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-5 order-3 order-md-2">
                        <nav class="category-nav">
                            <div>
                                <a href="javascript:void(0)"  class="category-trigger"><i class="bi bi-list"></i>Browse categories</a>
                                <ul class="category-menu">
                                    {% for types in book_type %}
                                        <li class="cat-item">
                                            <a href="/">{{types}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-3 col-5  order-md-3 text-right">
                        <div class="mobile-header-btns header-top-widget">
                            <ul class="header-links">
                                <li class="sin-link">
                                    <a href="cart.html" class="cart-link link-icon"><i class="bi bi-bag"></i></a>
                                </li>
                                <li class="sin-link">
                                    <a href="javascript:" class="link-icon hamburgur-icon off-canvas-btn"><i class="bi bi-list"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--Off Canvas Navigation Start-->
        <aside class="off-canvas-wrapper">
            <div class="btn-close-off-canvas">
                <i class="bi bi-x-lg"></i>
            </div>
            <div class="off-canvas-inner">
                <!-- search box start -->
                <div class="row mb-3">
                    <div class="col-4">
                        <form class="d-flex" method="get">

                        </form>
                    </div>
                </div>
                <!-- search box end -->
                <!-- mobile menu start -->
                <div class="mobile-navigation">
                    <!-- mobile menu navigation start -->
                    <nav class="off-canvas-nav">
                        <ul class="mobile-menu main-mobile-menu">
                            <li class="menu-item-has-children">
                                <a href="#">Home</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Blog</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="#">Blog Grid</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog.html">Full Widh (Default)</a></li>
                                            <li><a href="blog-left-sidebar.html">left Sidebar</a></li>
                                            <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Blog List</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-list.html">Full Widh (Default)</a></li>
                                            <li><a href="blog-list-left-sidebar.html">left Sidebar</a></li>
                                            <li><a href="blog-list-right-sidebar.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Blog Details</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-details.html">Image Format (Default)</a></li>
                                            <li><a href="blog-details-gallery.html">Gallery Format</a></li>
                                            <li><a href="blog-details-audio.html">Audio Format</a></li>
                                            <li><a href="blog-details-video.html">Video Format</a></li>
                                            <li><a href="blog-details-left-sidebar.html">left Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Shop</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="#">Shop Grid</a>
                                        <ul class="sub-menu">
                                            <li><a href="shop-grid.html">Fullwidth</a></li>
                                            <li><a href="shop-grid-left-sidebar.html">left Sidebar</a></li>
                                            <li><a href="shop-grid-right-sidebar.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Shop List</a>
                                        <ul class="sub-menu">
                                            <li><a href="shop-list.html">Fullwidth</a></li>
                                            <li><a href="shop-list-left-sidebar.html">left Sidebar</a></li>
                                            <li><a href="shop-list-right-sidebar.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Product Details 1</a>
                                        <ul class="sub-menu">
                                            <li><a href="product-details.html">Product Details Page</a></li>
                                            <li><a href="product-details-affiliate.html">Product Details
                                                Affiliate</a></li>
                                            <li><a href="product-details-group.html">Product Details Group</a></li>
                                            <li><a href="product-details-variable.html">Product Details
                                                Variables</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Product Details 2</a>
                                        <ul class="sub-menu">
                                            <li><a href="product-details-left-thumbnail.html">left Thumbnail</a>
                                            </li>
                                            <li><a href="product-details-right-thumbnail.html">Right Thumbnail</a>
                                            </li>
                                            <li><a href="product-details-left-gallery.html">Left Gallery</a></li>
                                            <li><a href="product-details-right-gallery.html">Right Gallery</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="compare.html">Compare</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="login-register.html">Login Register</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="order-complete.html">Order Complete</a></li>
                                    <li><a href="faq.html">Faq</a></li>
                                    <li><a href="contact-2.html">contact 02</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    <!-- mobile menu navigation end -->
                </div>
                <!-- mobile menu end -->
                <nav class="off-canvas-nav">
                    <ul class="mobile-menu menu-block-2">
<!--                        <li class="menu-item-has-children">-->
<!--                            <a href="#">Currency - USD $ <i class="fas fa-angle-down"></i></a>-->
<!--                            <ul class="sub-menu">-->
<!--                                <li> <a href="cart.html">USD $</a></li>-->
<!--                                <li> <a href="checkout.html">EUR €</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="menu-item-has-children">-->
<!--                            <a href="#">Lang - Eng<i class="fas fa-angle-down"></i></a>-->
<!--                            <ul class="sub-menu">-->
<!--                                <li>Eng</li>-->
<!--                                <li>Ban</li>-->
<!--                            </ul>-->
<!--                        </li>-->
                        <li class="menu-item-has-children">
                            <a href="#">My Account <i class="fas fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="">My Account</a></li>
                                <li><a href="">Order History</a></li>
                                <li><a href="">Transactions</a></li>
                                <li><a href="">Downloads</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="off-canvas-bottom">
                    <div class="contact-list mb--10">
                        <a href="" class="sin-contact"><i class="fas fa-mobile-alt"></i>+998 93 320 45 01</a>
                        <a href="" class="sin-contact"><i class="fas fa-envelope"></i>sherzod.ergashov4501@gmail.com</a>
                    </div>
                    <div class="off-canvas-social">
                        <a href="https://github.com/sherzodergashov" class="single-icon"><i class="bi bi-github"></i></a>
                        <a href="https://www.instagram.com/sherzod.ergashov.4501" class="single-icon"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.youtube.com" class="single-icon"><i class="bi bi-youtube"></i></a>
                        <a href="https://t.me/uchuvchi_havo_yollar" class="single-icon"><i class="bi bi-telegram"></i></a>
                    </div>
                </div>
            </div>
        </aside>
    </div>

    {% block content %}

    {% endblock %}

    <!--=================================
    Footer Area
    ===================================== -->
    <footer class="site-footer my-5">
        <div class="container">
            <div class="row justify-content-between  section-padding">
                <div class=" col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-footer pb--40">
                        <div class="brand-footer footer-title">
                            <img src="image/logo--footer.png" alt="">
                        </div>
                        <div class="footer-contact">
                            <p><span class="label">Address:</span><span class="text">Toshkent temir yo'l texnikumi</span></p>
                            <p><span class="label">Phone:</span><span class="text">+998 93 320 45 01</span></p>
                            <p><span class="label">Email:</span><span class="text">
                                sherzod.ergashov4501@gmail.com
                            </span></p>
                        </div>
                    </div>
                </div>
                <div class=" col-xl-2 col-lg-2 col-sm-6">
                    <div class="single-footer pb--40">
                        <div class="footer-title">
                            <h3>Information</h3>
                        </div>
                        <ul class="footer-list normal-list">
                            <li><a href="">Prices drop</a></li>
                            <li><a href="">New products</a></li>
                            <li><a href="">Best sales</a></li>
                            <li><a href="">Contact us</a></li>
                            <li><a href="">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class=" col-xl-3 col-lg-2 col-sm-6">
                    <div class="single-footer pb--40">
                        <div class="footer-title">
                            <h3>Extras</h3>
                        </div>
                        <ul class="footer-list normal-list">
                            <li><a href="">Delivery</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Stores</a></li>
                            <li><a href="">Contact us</a></li>
                            <li><a href="">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class=" col-xl-3 col-lg-4 col-sm-6">
                    <div class="footer-title">
                        <h3>Newsletter Subscribe</h3>
                    </div>
                    <div class="newsletter-form mb--30">
                        <div class="form-floating">
                          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                          <label for="floatingTextarea2">Messages</label>
                        </div>

                        <form action="./php/mail.php">
                            <input type="email" class="form-control" placeholder="Enter Your Email Address Here...">
                            <button class="btn btn--primary w-100">Subscribe</button>
                        </form>
                    </div>
                    <div class="social-block">
                        <h3 class="title">STAY CONNECTED</h3>
                        <ul class="social-list list-inline">
                            <li class="single-social facebook"><a href="https://github.com/sherzodergashov"><i class="bi bi-github"></i></a>
                            </li>
                            <li class="single-social twitter"><a href="https://t.me/uchuvchi_havo_yollar"><i class="bi bi-telegram"></i></a></li>
                            <li class="single-social google"><a href="https://www.instagram.com/sherzod.ergashov.4501"><i class="bi bi-instagram"></i></a></li>
                            <li class="single-social youtube"><a href="https://www.youtube.com"><i class="bi bi-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="copyright-heading">Goodreads is the bookstore of your dreams.</p>
                <a href="#" class="payment-block">
                    <img src="{% static 'image/icon/payment.png' %}" alt="">
                </a>
                <p class="copyright-text">Copyright © 2023 <a href="#" class="author">Goodreads</a>. All Right Reserved.</p>
            </div>
        </div>
    </footer>
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/ajax-mail.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</div>

</body>
</html>