{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Book Datail Page{% endblock %}

<style>
.star-reting{
	direction: rtl;
	width: 300px;
	height: 80px;
}
.star-reting input{
	display: none;
	position: reletive;
}
.star-reting label{
	position: reletive;
	width: 40px;
	height: 10px;
	cursor: pointer;
}
.star-reting label:before {
  content: "\2605";
  color: orange;
  font-size: 50px;
  position: absolute;
  opacity: 0;
}
.star-reting label:after {
  content: "\2605";
  color: #ccc;
  font-size: 50px;
}
.star-reting label:hover:before,
.star-reting label:hover ~ label:before{
	opacity: 1;
}
.star-reting input:checked ~ label:before,
.star-reting input:checked ~ label:after{
	color: orange;
}
</style>

{% block content %}
<div class="site-wrapper" id="top">
    <main class="inner-page-sec-padding-bottom">
        <div class="container">
            <div class="row mb-4 border border-dark">
                <div class="col-3">
                    <img class="cover-pic my-5 mx-5" src="{{ book.cover_picture.url }}" alt="default_cover_image">
                </div>

                <div class="col-6 ms-3 my-2">
                    <h3>{{ book.title }}</h3>

                    <span class="fst-italic">
                        Authored by
                        {% for book_auther in book.bookauthor_set.all %}
                            {% if forloop.last %}
                                {{ book_auther.auther.full_name }}
                            {% else %}
                                {{ book_auther.auther.full_name }},
                            {% endif %}
                        {% endfor %}
                    </span>

                    <p>{{ book.description }}</p>
                    <div class="add-to-cart-row my-3">
                        <div class="add-cart-btn">
                            <a href="" class="btn btn-outlined--primary ">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4 border border-dark">
                <div class="col-6 my-3">
                    <form method="post" action="{% url 'books:reviews' book.id %}">
                        {% csrf_token %}
<!--                        &lt;!&ndash;            yulduz stars-given&ndash;&gt;-->
<!--                            <div class="rating-row pt-2">-->
<!--                                <p class="d-block">Your Rating</p>-->
<!--                                <div class="container">-->
<!--                                    <div class="star-reting">-->
<!--                                        <input type="radio" name="reting" id="star1">-->
<!--                                        <label for="star1"></label>-->
<!--                                        <input type="radio" name="reting" id="star2">-->
<!--                                        <label for="star2"></label>-->
<!--                                        <input type="radio" name="reting" id="star3">-->
<!--                                        <label for="star3"></label>-->
<!--                                        <input type="radio" name="reting" id="star4">-->
<!--                                        <label for="star4"></label>-->
<!--                                        <input type="radio" name="reting" id="star5">-->
<!--                                        <label for="star5"></label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="row">-->
<!--                                    <div class="col-12">-->
<!--                                        <div class="form-group">-->
<!--                                            <label for="message">Comment</label>-->
<!--                                            <textarea name="message" id="message" placeholder="write a review" cols="30" rows="10"-->
<!--                                                class="form-control"></textarea>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

                        {{ review_form | crispy }}

                        <button class="btn btn-success my-3">Add review</button>
                    </form>
                </div>
            </div>

            {% if book.bookreview_set.exists %}

                <h4>Reviews</h4>
                <hr>

                {% for review in book.bookreview_set.all %}
                    <div class="row mb-3 border border-white">
                        <div class="col-2 me-2">
                            <img class="rounded-circle img-fluid" src="{{ review.user.profile_picture.url }}">
                        </div>

                        <div class="col-7">
                            <b>{{ review.user.username }}</b> rated it {{ review.stars_given }} stars. <span
                                class="fw-lighter">{{ review.created_at }}</span>
                            {% if review.user == request.user %}
                                <a href="{% url 'books:edit-review' book.id review.id %}"><i class="bi bi-pen"></i></a>
                                <a href="{% url 'books:confirm-delete-review' book.id review.id %}"><i class="bi bi-trash"></i></a>
                            {% endif %}
                            <p class="mt-2 font-monospace">{{ review.commend }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </main>
</div>

{% endblock %}