{% extends 'base.html' %}

{% block title %}Book Page{% endblock %}

{% block content %}
{% load static %}
<div class="site-wrapper" id="top">
	<main class="inner-page-sec-padding-bottom">
		<div class="container">
			<h1 style="text-align: center;">Book Pages</h1>
			<div class="row mb-3">
				<form class="d-flex" method="get">
					<div class="input-group mb-3 header-search-block">
						<input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
						<button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
					</div>
				</form>
			</div>
			<div class="shop-product-wrap list with-pagination row space-db--30 shop-border my-4">
				{% if page_obj %}
					{% for book in page_obj.object_list %}
						<div class="col-lg-4 col-sm-6">
							<div class="product-card card-style-list">
								<div class="product-list-content">
									<div class="card-image">
										<img src="{{ book.cover_picture.url }}" alt="">
									</div>
									<div class="product-card--body">
										<div class="product-header">
											<a href="" class="author">
												{{book.type.name}}
											</a>
											<h3><a href="{% url 'books:datail' book.id %}" tabindex="0">{{ book.title }}</a></h3>
										</div>
										<article>
											<h2 class="sr-only">Card List Article</h2>
											<p>{{book.description | truncatechars:350}}</p>
										</article>
										<div class="price-block">
											<span class="price">£51.20</span>
											<del class="price-old">£51.20</del>
											<span class="price-discount">20%</span>
										</div>
										<div class="rating-block">
											{% for book_review in b_review %}
												<div>
													{{ book_review.stars_given }}
												</div>
											{% endfor %}
											<span class="fas fa-star star_on"></span>
											<span class="fas fa-star star_on"></span>
											<span class="fas fa-star star_on"></span>
											<span class="fas fa-star star_on"></span>
											<span class="fas fa-star "></span>
										</div>
										<div class="btn-block">
											<a href="{% url 'books:datail' book.id %}" class="btn btn-outlined">Add To Cart</a>
											<a href="" class="card-link"><i class="fas fa-heart"></i> Add To Wishlist</a>
											<a href="" class="card-link"><i class="fas fa-random"></i> Add To Cart</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}

				<nav aria-label="Page navigation example" class="mx-5 my-4">
					<ul class="pagination justify-content-center">
						{% if page_obj.has_previous %}
							<li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
							<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
						{% endif %}

						<li class="page-item active" aria-current="page">
						  <a class="page-link" href="#">{{ page_obj.number }}</a>
						</li>

						{% if page_obj.has_next %}
							<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
							<li class="page-item">
							  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last&raquo;</a>
							</li>
						{% endif %}
					</ul>
				</nav>

				{% else %}
					No book found.
				{% endif %}
			</div>
		</div>
	</main>
</div>




<!--=================================
  Brands Slider
===================================== -->
	<!-- Use Minified Plugins Version For Fast Page Load -->
	<script src="js/plugins.js"></script>
	<script src="js/ajax-mail.js"></script>
	<script src="js/custom.js"></script>
{% endblock %}